* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .hp {
      display: none;
  }
  
  .boxpopup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .popup {
      width: 60%;
      background-color: rgb(255, 255, 255);
      font-family: 'Rubik';
      padding: 40px 20px;
  }
  
  .line {
      width: 100%;
      height: 1px;
      background-color: rgb(148, 148, 148);
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
  }
  
  @media screen and (max-width: 800px) {
      .boxpopup {
          display: none;
      }

      body {
        background-color: #d5d5d5;
      }

      html {
        font-family: 'Rubik';
      }

      .hp {
          font-family: "Rubik", sans-serif;
          display: block;
        }

        button {
            border: none;
            background: none;
        }

        .username h1 {
            font-size: 20px;
            font-weight: 400;
        }

    .navbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: white;
        position: fixed;
        width: 100%;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .profil button{
        background: none;
        border: none;
    }
    .profil img {
        width: 45px;
        border-radius: 100%;
        border: 2px solid rgb(0, 0, 0);
        padding: 2px;
        }
        
        .profil p {
        position: relative;
        z-index: 1;
        color: black;
        font-size: 10px;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.324);
        border-radius: 7px;
        padding: 5px;
        width: auto;
        margin: 0 auto;
        display: block;
        margin-top: -15px;
    }

    .profil p:hover {
        background-color: black;
        color: white;
        transition: all ease-in-out 0.2s;
    }

    .welcome {
        width: 100%;
        background-image: url(img/gradasi.jpg);
        background-size: 100%;
        background-position-y: 8vh;
        padding: 10px;
        border-radius: 20%;
        padding-top: 15vh;
        padding-bottom: 10vh;
    }

    .welcomebox h1 {
        margin-top: 2vh;
        font-size: 20px;
        font-weight: 500;
        color: white;
        text-align: center;
    }

    .welcomebox p {
        font-size: 15px;
        font-weight: 400;
        color: white;
        text-align: center;
    }

    .nav2box {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        width: 80%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.186);
        margin: 0 auto;
        margin-top: -5vh;
        z-index: 2;
    }

    li {
        list-style: none;
    }

    .line2 {
        width: 1px;
        background-color: #000000;
    }

    .nav2box li button img {
        width: 20px;
    }

    .nav2box li button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        color: #575757;
        gap: 5px;
    }

    .nav2box li a p {
        font-size: 13px;
    }

    .sd p {
        color: #292929;
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
    }

    /* trending */
    .trending {
        margin-top: 20px;
    }

    .trendingbox {
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
    }


    .trendingbox .logo h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .boxt {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .atas img {
        width: 60px;
        border-radius: 10%;
    }

    .atas p {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: 400;
    }

    .atas {
        display: flex;
        gap: 20px;
    }

    .atas li a {
        color: white;
        background-color: green;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 10px;
        }
        
        .atas li {
        margin-top: 10px;
    }

    .caritmnbox{
        display: flex;
        gap: 10px;
        background-color: white;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        justify-content: center;
        border-radius: 10px;
        margin-top: 20px;
    }

    .caritmnbox input {
        font-size: 15px;
        border : none;
    }

    .caritmnbox button {
        background : none;
        border: none;
    }

    .caritmn {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .galer {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .scroll-item {
        height: 200px;
          overflow-y: scroll;
          overflow-x: hidden;
          padding: 10px;
    }
  }