* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.hp {
    display: none;
}

.boxpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 60%;
    background-color: rgb(255, 255, 255);
    font-family: 'Rubik';
    padding: 40px 20px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(148, 148, 148);
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

@media screen and (max-width: 800px) {
    .boxpopup {
        display: none;
    }
    .hp {
        font-family: "Rubik", sans-serif;
        display: block;
      }
    .peringatan {
      background-color: rgb(0, 0, 0);
      color: white;
      padding: 5px;
    }

    .container {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img {
      width: 40%;
      border-radius: 100%;
      margin: 0 auto;
      display: block;
    }
    
    form {
        display: block;
        margin: 0 auto;
        width: 50%;
        margin-top: 30px;
    }
    
    
    form li {
        list-style: none;
    }
    
    form li input {
        margin: 5px 0;
        padding: 10px;
        border : none;
        border-radius: 5px;
        width : 90%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    form button {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        border : none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background-color: rgb(0, 0, 0);
        color: white;
        font-weight: bold;
    }
}